@keyframes move-pipe {
    from {
        right: 0;
    }
    to {
        right: 800px;
    }
}
@keyframes pulo-mario {
    0% {
        bottom: 0;
    }
    10% {
        bottom: 30px;
    }
    20% {
        bottom: 70px;
    }
    30% {
        bottom: 100px;
    }
    40% {
        bottom: 120px;
    }
    50% {
        bottom: 150px;
    }
    60% {
        bottom: 170px;
    }
    70% {
        bottom: 170px;
    }
    80% {
        bottom: 150px;
    }
    85% {
        bottom: 120px;
    }
    90% {
        bottom: 100px;
    }
    95% {
        bottom: 50px;
    }
    100% {
        bottom: 0;
    }

}
@keyframes move-nuvem1 {
    from {
        right: -300px;
    }
    to {
        right: 800px;
    }
}
@keyframes move-nuvem2 {
    from {
        right: -200px;
    }
    to {
        right: 800px;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.tela {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    background: skyblue;
    border-bottom: 30px solid green;
}
#pipe {
    position: absolute;
    bottom: 0;
    right: 0;
    animation: move-pipe infinite linear 3s;
}
.mario {
    position: absolute;
    bottom: 0;
    left: 0;
}
.pulo {
    animation: pulo-mario infinite linear 1s;
}
.nuvem1 {
    position: absolute;
    right: -300px;
    animation: move-nuvem1 infinite 8s linear;
}
.nuvem2 {
    position: absolute;
    right: -200px;
    top: 200px;
    animation: move-nuvem2 infinite 15s linear
}
.div-defeat {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
}
.div-defeat .qtd-pontos {
    font-size: 1.5rem;
}
.defeat {
    font-size: 50px;
    color: red;
}
.div-defeat button {
    margin-top: 10px;
}
button {
    width: 200px;
    height: 30px;
    background: transparent;
    border: 2px solid red;
    cursor: pointer;
}
button:hover {
    transition: all 0.5s;
    border: 2px solid white;
    color: red;
}
.pontos {
    font-size: 2rem;
    position: absolute;
    right: 30px;
}